html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: "Roboto Regular", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.img-wrapper, .wp-post-image {
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.nav-form-search {
    input {
        width: 0px;
        transition: all .5s;
    }

    svg, .fa {
        top: 12px;
        right: 0px;
    }

    input.active {
        padding-right: 30px;
        border-radius: 100px;
        top: 1px;
        right: -10px;
        width: 300px !important;
        border: 1px solid #ced4da !important;
    }
}

.sweet-sans-font {
    font-family: "Sweet Sans Pro Regular" !important;
}

.roboto-font {
    font-family: "Roboto Regular" !important;
}

.eb-garamond-font {
    font-family: "EB Garamond" !important;
}

.eb-garamond-semibold-font {
    font-family: "EB Garamond Semibold" !important;
}

.georgia-font {
    font-family: "Georgia Regular" !important;
}

.volkorn-font {
    font-family: "Volkorn Regular" !important;
}

.article-banner-title {
    margin-top: -4rem;
}

.border-line:before {
    border-top: .1px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.offcanvas-menu {
    width: 100%;
}

.offcanvas {
    backdrop-filter: blur(5px);
}

.offcanvas-menu .list-group-item.border-bottom {
    border-bottom: none !important;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .offcanvas-menu {
        width: 20%;
    }

    .offcanvas-menu .list-group-item.border-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        margin-right: 0;
        margin-left: 0;
    }
}

.footer {
    font-size: 12px;
    background-color: #eae8e3;
    line-height: 1;
}

.footer-menu {
    font-size: 12px;
}

.wp-post-image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.post-cover .wp-post-image {
    border-radius: .5rem;
}

.wp-caption {
    width: 100% !important;
}

.post-content .wp-caption-text, .post-content figure figcaption {
    font-size: .875rem;
    border-bottom: 1px solid #dddee4;
    color: #424242;
    margin-bottom: .625rem;
    margin-top: .375rem;
    padding-bottom: .625rem;
    font-family: sans-serif;
}

img.size-full {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.post__title {
    font-family: 'EB Garamond Semibold';
}

.post-content > * {
    padding: 0rem;
    padding-left: 0rem;

    @media screen and ( min-width: 768px ) {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.post-content {
    a {
        border-bottom: 1px solid #ed1d25;
        color: inherit;
        text-decoration: inherit;
        font-weight: 500;
    }
}

.post-content > .gallery, .post-content > div > .gallery, .post-content > .wp-caption, .post-content > p:has(img), .post-content > figure:has(img), p:has(iframe) {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.post-content iframe, .post-content video {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.wp-video {
    width: 100% !important;
}

.post-content blockquote > * {
    border-left: 3px solid #c00;
    padding-left: 2rem;
}

.post-content, .post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5 {
    font-family: "Volkorn Regular";
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .02rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.post-meta-button-share .btn {
    width: 45px;
    height: 45px;
}

.post-meta-category {
    letter-spacing: .0625rem;
}

.most-read-cell.flickity-cell {
    width: 100%;
    height: auto;

    @media screen and ( min-width: 576px ) {
        width: 50%;
    }

    @media screen and ( min-width: 992px ) {
        width: 25%;
    }

    img {
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }
}

.flickity-button {
    background: rgba(0, 0, 0, .5);
}

.flickity-button:hover {
    background: rgba(0, 0, 0, .8);
}

.flickity-button-icon {
    fill: white;
}

.flickity-button:focus {
    box-shadow: none;
}

.flickity-prev-next-button.previous {
    margin-left: 2rem;
}

.flickity-prev-next-button.next {
    margin-right: 2rem;
}

#categoty-article .wp-post-image {
    object-fit: cover;
}

.footer-menu li a:before, .footer-menu li a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    opacity: 0;
    transition: height .3s, opacity .3s, transform .3s;
    transform: translateY(-10px);
}

.footer-menu li:hover a:before, .footer-menu li:hover a:after {
    height: 2px;
    opacity: 1;
    transform: translateY(0);
}

.footer-menu li a:after {
    top: 85%;
    background: white;
}

.banner-carousel .post {
    width: 100%;
}

.img-hover-zoom {
    overflow: hidden;
    
    img {
        transition: transform 1s ease;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.screen-reader-text {
    display: none;
}

.pagination {
    justify-content: center;
}

.pagination .current {
    color: #ffff !important;
    background-color: #dc3545;
    border-color: #dc3545;
}

.pagination .page-numbers {
    padding: 0.5rem;
    color: #dc3545;
    border: none;
    font-family: "Tenor Sans", sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-decoration: none;
}

#subscribe-footer .desc {
    @media screen and ( min-width: 576px ) {
        width: 50%;
    }
}

.post-content img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.post-content .gallery-item {
    display: flex;
    justify-content: center;
    text-align: center;
}

.post-content .gallery-item img {
    object-fit: contain;
    width: auto !important;
    height: 90vh !important;
}

.post-content p {
    text-align: justify;
}

.related-post svg {
    min-width: 18px;
    min-height: 18px;
}

#most-popular-article .wp-post-image {
    aspect-ratio: 1 / 1;
    max-width: 200px;
}

.categoty-article-title {
    text-wrap: pretty;
}

.btn-close-offcanvas svg {
    width: 25px;
    height: 25px;
}

.vertical-leaderboard:has(.wpadcenter-ad-container) {
    position: unset;
    top: 4rem;

    @media screen and ( min-width: 992px ) {
        position: sticky;
    }
}

#most-read-article .border-bottom {
    padding-bottom: 0.5rem;
    --bs-border-color: #000;
    --bs-border-width: 5px;
}

.header-media-social svg {
    width: 16px;
    height: 16px;
}

.invert-1 {
    filter: invert(1);
}

.wp-search-form::placeholder {
    color: #FFF;
}

.primary-menu .navbar-nav .nav-item {
    letter-spacing: 2px;
    
    .nav-link {
        font-size: 12px;
    }
}

#desktop-menu-rr-logo img {
    width: 200px;

    @media screen and ( min-width: 992px ) {
        width: 120px;
    }
}

.container-menu {
    @media screen and ( min-width: 992px ) {
        max-width: none;
    }
}

.wpadcenter-ad-container .ad-placement img {
    object-fit: contain !important;
    aspect-ratio: unset;
    height: inherit;
}

.wpadcenter-ad-inner, .wpadcenter-ad-inner a {
    height: inherit;
}

.w-md-75 {
    @media screen and ( min-width: 768px ) {
        width: 75%;
    }
}

.post:hover .article-title {
    color: #ed1d25 !important;
}

.floating-video-ad {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 300px;
    height: auto;
    z-index: 1000;
}

.floating-video-ad iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.floating-video-ad:has(.wpadcenter-ad-container)  {
    display: block !important;
}

.video-leaderboard .ad-placement {
    background-color: transparent !important;
    border: transparent !important;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    height: 1.5rem;
    aspect-ratio: 1;
    --c: linear-gradient(#FFF 0 0);
    --r1: radial-gradient(farthest-side at bottom, #FFF 93%, #0000);
    --r2: radial-gradient(farthest-side at top, #FFF 93%, #0000);
    background:
        var(--c), var(--r1), var(--r2),
        var(--c), var(--r1), var(--r2),
        var(--c), var(--r1), var(--r2);
    background-repeat: no-repeat;
    animation: l2 1s infinite alternate;
}

@keyframes l2 {
    0%,
    25% {
        background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    50% {
        background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    75% {
        background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    95%,
    100% {
        background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
    }
}